*.aux
*.fdb_latexmk
*.fls
*.log
*.bbl
*.bcf
*.blg
*.pdf
*.toc
*.out
*.ist
*.run.xml
*.synctex.gz
*.lof
*.lot
.ipynb_checkpoints

__pycache__/
_*.tex
chapters/*/main.tex
chapters/*/figures/placeholder.png
